h2 {
  font-size: 50px;
  text-align: center;
  font-weight: bolder;
}

.val {
  /* border: solid red 1px; */
  background: #f7f7f7 0% 0% no-repeat padding-box;
  opacity: 1;
}
.valores {
  display: flex;
  padding-top: 80px;
  padding-right: 120px;
  padding-left: 120px;
  align-items: center;
  justify-content: center;
}

.valor {
  margin-right: 80px;
}

.valor:last-child {
  margin-right: 0px;
}

.valor > img {
  width: 70px;
  height: 70px;
  margin-bottom: 15px;
}

.valor > .titulito {
  font-size: 28px;
  font-weight: bolder;
  color: #ff9d0a;
}

.valor > p.descripcion {
  font-size: 15px;
  color: #4d4d4d;
}

.valor > p.descripcion {
  width: 310px;
}
