.headerhome {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  top: 45px;
  left: 540px;
  width: 294px;
  height: 41px;
  opacity: 1;
  margin: 5px 0 0 80px;
}

.nav-item {
  font-size: 18px;
}

.nav-link {
  font-weight: 90px;
  margin-right: 10px;
}

.navbar-expand-lg .navbar-collapse {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  position: relative;
}

.nav-item1 {
  display: inline;
}

.collapse1 {
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 80px 0 0;
}

.navbar1 {
  list-style: none;
  display: inline;
}

.nav-link1 {
  margin-right: 20px;
}

.text-navbaritem {
  color: white !important;
  width: 60px;
  height: 100px;
  padding: auto;
  text-align: center;
  background: #ff9d0a 0% 0% no-repeat padding-box;
  border-radius: 29px;
  opacity: 1;
}

.text-navbaritem1 {
  text-align: left;
  text-decoration: underline;

  font: Italic 18px/28px Roboto;
  letter-spacing: 0px;
  color: #00ba74;
  opacity: 1;
}

/* seccion 2  */

/* seccion 3 */

.perfil {
  width: 100%;
  height: 550px;
  /* border: red 1px solid; */
  background: #00ba74 0% 0% no-repeat padding-box;
  opacity: 1;
}

.carousel-item {
  /* border: red 1px solid; */
  margin-top: 80px;
}

.carousel-item > img {
  width: 171px;
  height: 171px;
  /* border: red 1px solid; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

/* descripción del perfil */
.desper {
  width: 700px;
  height: 207px;
  /* border: red 1px solid; */
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.desper > img {
  width: 221px;
  height: 36px;
  opacity: 1;
  display: flex;
  bottom: 10px;
  top: 10px;
  margin: auto;

  /* border: red 1px solid; */
}

.desper > h4 {
  font-size: 30px;
  text-align: center;
  font: ExtraBold 48px/81px Muli;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin-top: 22px;
}

.desper > p {
  font: ExtraBold 48px/81px Muli;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin-top: 20px;
}

/* seccion 4  se algo*/

.sealgo {
  width: 100%;
  height: 327px;
  background: #f7f7f7 0% 0% no-repeat padding-box;
  opacity: 1;
  /* border: red 1px solid; */
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding: 60px;
}

.sealgo > h3 {
  font-weight: 700;
  padding-bottom: 29px;
  /* border: red 1px solid; */
}

.sealgo > p {
  font-size: 18px;
  text-align: center;
  font: Regular 24px/35px Open Sans;
  letter-spacing: 0px;
  color: #747474;
  opacity: 1;
  padding-bottom: 30px;
}

.btn {
  width: 144px;
  border-radius: 19px;
  font-weight: 600;
  text-align: center;
  font: ExtraBold 24px/18px Muli;
  letter-spacing: 0px;
  border: #ff9d0a solid 1px;
  color: #ff9d0a !important;
  opacity: 1;
  /* border: red 1px solid; */
}

.btn:hover {
  background: #ff9d0a;
  color: #ffffff !important;
}

/* seccion 5  historias*/
.hist {
  /* border: red 1px solid; */
  display: inline-block;
  padding: 0;
  height: 600px;
}

.hist > img {
  height: 480px;
  width: 100%;
  padding: 0;
  margin: 50px 0 0 0;
  /* top: 60px; */
}

.historia {
  align-items: center;
  justify-content: center;
  text-align: center;
  /* border: red 1px solid; */
}
.historia > h3 {
  width: fit-content;
  width: 450px;
  font-size: 48px;
  /* border: red 1px solid; */
  font-weight: 700;
  text-align: center;
  font: ExtraBold 70px/81px Muli;
  letter-spacing: 0px;
  color: #00ba74;
  opacity: 1;
  margin-top: 150px;
  margin-left: 26%;
}

.historia > p {
  width: 400px;
  height: 190px;
  text-align: left;
  /* border: red 1px solid; */
  font: Regular 24px/35px Open Sans;
  letter-spacing: 0px;
  color: #555555;
  opacity: 1;
  margin-left: 29%;
  margin-top: 10px;
}

.btn1 {
  border-radius: 19px;
  font-weight: 600;
  text-align: center;
  font: ExtraBold 24px/18px Muli;
  letter-spacing: 0px;
  border: #ff9d0a solid 1px;
  color: #ff9d0a !important;
  opacity: 1;
  /* border: red 1px solid; */
  margin-right: 220px;
}

.btn1:hover {
  background: #ff9d0a;
  color: #ffffff !important;
}
