<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/normalized.css" />
    <link rel="stylesheet" href="../css/historias.css" />
    <title>Historias</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-ligth headerhome">
        <a class="navbar-brand" href="#">
          <img src="../../recursos/Assets/logo-monapp.png" alt="logo" />
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Nosotros</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Preguntas frecuentes</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Contáctanos</a>
            </li>
          </ul>
        </div>
        <div class="collapse1 botonreg">
          <ul class="navbar1">
            <li class="nav-item1 active">
              <a href="#" class="nav-link1 text-navbaritem"
                >Regístrate</a
              >
            </li>
            <li class="nav-item1 active">
              <a href="#" class="nav-link1 text-navbaritem1">Iniciar sesión</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <section id="banner" class="banner">
      <img class="img-banner" src="../../recursos/Assets/Group 396.jpg" alt="Banner de historias" />
      <div class="texto-encima">
        <h1>Historias que inspiran, <br/> resultados que sorprenden</h1>
      </div>
    </section>

    <section id="historias-vida" class="historias-vida">
      <h2>Historias de vida</h2>
      <p>The quick, brown fox jumps over a lazy dog. DJs flock by when MTV <br/> ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph, for<br/> quick jigs vex! Fox nymphs grab quick-jived waltz. Brick quiz whangs jumpy veldt fox.<br/> Bright vixens jump; dozy fowl quack. Quick wafting zephyrs <br/> vex bold Jim. Quick zephyrs blow, vexing daft Jim. Sex-charged fop blew my junk TV quiz. How quickly daft jumping <br/> zebras vex. Two driven jocks help fax my big quiz. Quick, Baz, get</p>
    </section>

    <section id="juana" class="juana">
      <div class="div-banner">
        <img class="img-banner" src="../../recursos/Assets/Juana.png" alt="Banner de historias" />
      </div>
      <div id="juana-alaniz" class="juana-alaniz">
        <h2>Juana Alaniz</h2>
        <p>Jardinera - 32 años Gracias a Monapp tengo más tiempo libre</p>
        <p>The quick, brown fox jumps over a lazy dog. DJs flock by <br/> when MTV ax quiz prog. Junk MTV quiz graced by fox <br/> whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad <br/> nymph, for quick jigs vex!The quick, brown fox jumps over <br/> a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV <br/> quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph, for quick jigs vex!</p>
      </div>
    </section>

    <section id="alberto" class="alberto">
      <div id="alberto-garcia" class="alberto-garcia">
        <h2>Alberto García</h2>
        <p>Empresario - 36 años Pude generar trabajo a más de 20 personas</p>
        <p>The quick, brown fox jumps over a lazy dog. DJs flock by <br/> when MTV ax quiz prog. Junk MTV quiz graced by fox <br/> whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad <br/> nymph, for quick jigs vex!The quick, brown fox jumps over <br/> a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV <br/> quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph, for quick jigs vex!</p>
      </div>
      <div class="div-banner">
        <img class="img-banner" src="../../recursos/Assets/Juana.png" alt="Banner de historias" />
      </div>
    </section>

  </body>
</html>
