<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/normalized.css" />
    <link rel="stylesheet" href="./css/inicio-sesion.css" />
    <title>Iniciar sesión</title>
  </head>
  <body>
    <div class= "container-fluid">
      <div class="row">
        <div class="col-12 col-lg-4 pl-0 pr-0">
          <section id="iniciar-sesion" class="iniciar-sesion">
              <img class="grafico-ini-sec" src="../../recursos/" alt="Gráfico de inicio de sesión" />
              <h2>Iniciar sesión</h2>
              <div id="registrarse" class="registrarse">
                <p>¿No tienes una cuenta aún?</p>
                <a href="https://example.com">Registrarme</a>
              </div>
            <div id="form-inicio" class="form-inicio">
              <p>Usuario</p>
              <input type="text" name="usuario" id="" class="usuario_input" placeholder="Escribe aquí tu nuevo usuario" />
              <p class="contrasena">Contraseña</p>
              <input type="text" name="usuario" id="" class="contrasena_input" placeholder="Escribe aquí tu nueva contraseña" />
              <div id="boton-inicio-sesion" class="boton-inicio-sesion">
                <button class="ingresar">
                  Ingresar
                </button>
                <a href="https://example.com">Olvidé mi contraseña</a>
              </div>
            </div>
          </section>
        </div>
        <div class="col-12 col-lg-8 pl-0 pr-0">
          <section id="hola" class="hola">
            <p>Hola!</p>
            <p>Que bueno volver a tenerte por aquí, inicia sesión y busca lo que necesites. <br/> Todo en un solo lugar.</p>
            <img class="cohete-ini-sec" src="../../recursos/Assets/cohete.svg" alt="Cohete con estrellas" />
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
