<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../css/ver-perfil-contratista.css" />
    <title>Ver perfil de contratista</title>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-ligth headerhome">
        <a class="navbar-brand" href="#">
          <img src="../../recursos/Assets/logo-monapp.png" alt="logo" />
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Nosotros</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Preguntas frecuentes</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Contáctanos</a>
            </li>
          </ul>
        </div>
        <div class="collapse1 botonreg">
          <ul class="navbar1">
            <li class="nav-item1 active">
              <img class="img-perfil" src="../../recursos/Assets/imagen-perfil-por-defecto.svg" alt="Imagen de perfil del usuario" />
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div id="volver-atras" class="volver-atras">
      <img class="flecha-volver" src="../../recursos/Assets/Flecha-volver-atras.svg" alt="Flecha para regresar" />
      <a class="volver-lista" href="#">Volver a la lista de categorías</a>
    </div>

    <section id="ficha-contratista" class="ficha-contratista">
      <div class="container">
        <div class="row">
          <div class="col-8">
            <div id="general" class="general">
              <div id="jacinto-perez" class="jacinto-perez">
                <!-- <div id="jacinto1" class="jacinto1"> -->
                  <!-- <img class="img-jacinto-perez" src="../../recursos/Assets/Perfil-2.png" alt="Jacinto Pérez" /> -->
                  <img class="img-jacinto-perez" src="../../recursos/Assets/Perfil-2.png" alt="Jacinto Pérez" />
                  <div id="nombre-jacinto" class="nombre-jacinto">
                    <h1>Jacinto Pérez <img class="icono-linkedin" src="../../recursos/Assets/logo-linkedin.svg" alt="icono de linkedin"/></h1>
                    <div id="mecanico" class="mecanico">
                      <p>Mecánico</p>
                      <img class="estrellitas" src="../../recursos/Assets/5-estrellas.png" alt="cinco-estrellas" />
                    </div>
                  </div>
                </div>
            </div>
      
              <div id="sobre-mi" class="sobre-mi">
                <p>Sobre mí:</p>
                <p class="p-sobre-mi">The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk <br/> MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad <br/> nymph, for quick jigs vex!</p>
                <hr>
              </div>
      
              <div id="tags" class="tags">
                <p>Tags:</p>
                <div id="lista-tags" class="lista-tags">
                  <input type="button" value="Ebanista" class="input-tags">
                  <input type="button" value="Selección de maderas" class="input-tags">
                  <input type="button" value="Horario flexible" class="input-tags">
                  <input type="button" value="Trabaja fin. semana" class="input-tags">
                </div>
                <hr>
              </div>
      
              <div id="servicios" class="servicios">
                <p>Servicios:</p>
                <p>Cambio de aceite <span>&#40;1hs&#41;</span></p>
                <p>Mantenimiento en general <span>&#40;5hs&#41;</span></p>
                <p>Cambio de frenos <span>&#40;3hs&#41;</span></p>
                <p>Cambio de bujías <span>&#40;1hs&#41;</span></p>
                <hr>
              </div>
      
              <div id="calificaciones" class="calificaciones">
                <p>Calificaciones de clientes &#40;7&#41;</p>
                <img class="camila-valencia" src="../../recursos/Assets/Camila.png" alt="Camila Valencia" />
                <img class="cinco-estrellitas" src="../../recursos/Assets/5-estrellas.png" alt="cinco-estrellas" />
                <p class="nombre-camila"> Camila Valencia</p>
                <div id="carrusel-calificaciones" class="carrusel-calificaciones">
                  <img class="flecha-carrusel" src="../../recursos/Assets/flecha-izquierda-testimonios.svg" alt="flecha izquierda del carrusel" />
                  <p>The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph, for quick jigs vex!The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph.</p>
                  <img class="flecha-carrusel" src="../../recursos/Assets/flecha-derecha-testimonios.svg" alt="flecha derecha del carrusel" />
                </div>
                <hr>
                <p class="curriculum">Curriculum Vitae:</p>
                <input type="button" class="input-descargar" value="DESCARGAR">
              </div>
            </div>
  
            <div class="col-4">
              <div id="contratar" class="contratar">
                <button class="boton_contratar">
                  Contratar
                </button>
                <p>INFO. GENERAL</p>
                <div id="info-general" class="info-general">
                  <div id="general-1" class="general-1">
                    <p>Antiguedad</p>
                    <p>Horas trabajadas</p>
                    <p>Proyectos completados</p>
                  </div>
        
                  <div id="general-2" class="general-2">
                    <p>6 meses</p>
                    <p>86 hs.</p>
                    <p>5</p>
                  </div>
                </div>
        
                <p>DETALLES</p>
                <div id="detalles" class="detalles">
                  <div id="detalles-1" class="detalles-1">
                    <p>Calificaciones</p>
                    <p>Inclumpimientos</p>
                  </div>
        
                  <div id="detalles-2" class="detalles-2">
                    <p>7</p>
                    <p>0</p>
                  </div>
                </div>
        
                <div id="valor-hora-div" class="valor-hora-div">
                  <p class="p-valor-hora">Valor hora:</p>
                  <p class="p-cop">COP$ 53.493</p>
                </div>

                <div class="div-enviar-mensaje">
                  <img class="mensajito" src="../../recursos/Assets/mensaje.svg" alt="mensajito" />
                  <input type="button" value="Enviar mensaje" class="enviar-mensaje">
                </div>
  
              </div>
            </div>
        </div>
        
        </div>
      </div>
    </section>


    <footer>
      <div class="foot">
        <div class="container">
          <div class="row">
            <div class="col col-md-4">
              <div class="container-foot">
                <img class="mb-2" src="../../recursos/Assets/logo-blanco-footer.svg" alt="" />
                <p>
                  Nuestra plataforma busca conectar a <br />
                  personas que saben algún tipo oficio <br />
                  clientes que necesiten de ellos;
                </p>
              </div>
            </div>
            <div class="col col-md-6 mt-5 container-footer-menu">
              <ul class="nav d-block d-sm-block d-lg-flex">
                <li class="nav-item">
                  <a class="nav-link" href="#">Nosotros</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Preguntas frecuentes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contáctanos</a>
                </li>
              </ul>
            </div>
            <div class="col col-md-2 mt-5 pt-2 container-footer-iconos">
              <div class="media">
                <i class="fa fa-whatsapp mr-3" style="font-size: 24px;"></i>
                <i class="fa fa-facebook-f mr-3" style="font-size: 24px;"></i>
                <i class="fa fa-instagram mr-3" style="font-size: 24px;"></i>
              </div>
            </div>
          </div>
        </div>

        <h6>
          Copyright © 2020 . Monapp - Todos los derechos reservados.
        </h6>
      </div>
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>